<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <h1>Home</h1>
    @if (ViewData["User"] != null)
    {
        <h2>Logged in. Wellcome @(ViewData["User"])!</h2>
    }
    else
    {
        <h2>Wellcome!</h2>
    }
</body>

</html>